

/* My styles */
canvas {
	border: 1px solid black;
	new-image: url("./imagenes/tree.png")
}

/* .grass {
	position: absolute;
	top: 0;
	left: 0;
	width: 1024px;
	height: 768px;
	background-image: url("./imagenes/back.png");
	background-repeat: no-repeat;
	background-size: cover;
	pointer-events: none;
} */

.controls {
	position: absolute;
	top: 0;
	left: 1024px;
}

.tree{
	position:absolute;
	background:url(imagenes/tree.png) top left no-repeat;
	left:70px;
	bottom:100px;	
	width:173px;
	height:260px;
	z-index:4;
}
